.sectionbz .k-floating-label-container {
    margin-bottom: 10px;
}

.kmyhint {
    margin-top: -10px;
}

.sectionbz input {
    font-weight: 600;
}

.upload-text {
    cursor: pointer;
}

.image-uploader .uploaded {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.uploaded-image img {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 20px;
}

.uploaded-image {
    margin-left: -20px !important;
}

button.delete-image {
    right: -37px !important;
}

.clbuttongrup {
    margin-right: -12px;
    float: right;
}

.clbuttongrup button {
    margin-right: 14px;
}

span.cliconcheck {
    position: absolute;
    margin-top: 24px;
    margin-left: -19px;
    z-index: 1;
    color: green;
}

span.cliconcheck::before {
    content: "\e119";
}

span.nocheck {
    position: absolute;
    margin-top: 24px;
    margin-left: -19px;
    z-index: 1;
    color: red;
}

span.nocheck::before {
    content: "\e11c";
}

.sectionbz hr {
    margin-top: 18px;
    border-color: #ffffff1f;
    background-color: #d9d9d938;
}

.kmyhint span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 480px;
}