.div_login {
    padding: "40px";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    transition: all 0.7s ease;
}

.div_login .block {
    width: 400px;
    padding: 40px;
}

.formimg {
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    padding-bottom: 8px;
}

.formimg img {
    height: 31px;
    position: relative;
    max-width: 237px;
}

.formimg .logoop {
    margin-left: 4px !important;
    transition: transform 500ms linear;
    /* padding-right: 48px; */
}

#idzamen {
    min-height: 85px;
}

.k-floating-label-container:focus-within>.k-label {
    top: 21px;
    left: 13px;
}

.k-input-lg .k-input-inner,
.k-picker-lg .k-input-inner {
    padding: 6px 8px !important;
}

.k-floating-label-container.k-focus>.k-label,
.k-floating-label-container.k-state-focused>.k-label,
.k-floating-label-container>.k-label {
    left: 34px;
    top: 19px;
}