@font-face {
    font-family: "Stanberry";
    src: url('./../../../font/Stanberry.ttf') format("opentype");
}

@font-face {
    font-family: "geometria";
    src: url('./../../../font/geometria/geometria.ttf') format("opentype");
}

html,
body {
    overflow: hidden;
}

body {
    font-family: "geometria";
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    font-size: .9375rem;
    line-height: 1.25rem;
    padding-bottom: 0.227px;
    padding-top: 0.227px;
    background-color: #f3f2f1;
    /* background-image: url(./../../../img/background/black.jpg); */
}

.title {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    line-height: 1.75rem;
    padding-bottom: 2.3632px;
    padding-top: 2.3632px;
    color: #1b1b1b;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 12px;
}

.k-floating-label-container:focus-within>.k-label {
    top: 21px;
    left: 13px;
}

.k-input-lg .k-input-inner,
.k-picker-lg .k-input-inner {
    padding: 6px 8px !important;
}

.k-floating-label-container.k-focus>.k-label,
.k-floating-label-container.k-state-focused>.k-label,
.k-floating-label-container>.k-label {
    left: 34px;
    top: 19px;
}